.nav-div{
    /* background-color: red; */
    margin: 0;
    background-color: white;
    box-shadow: 0px 2.9825618267059326px 7.456404209136963px 0px #0000001A;
    /* max-width:2000px; */
}

.nav-main{
    /* max-width: 100px; */
    margin: 0 100px;
    padding: 10px 30px;
    /* box-shadow:  */
    /* border-bottom: 2px solid rgb(238, 235, 235); */
  

}

.nav-logo{
    padding: 10px 0;
   max-width: 100px;
}
